.container{
    background-color: rgba(221, 87, 233, 0.712);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 470px;
    margin: auto;
    border-radius: 10px;
   height: 790px;
}